<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forecasts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let forecast of forecasts">
      <ion-card-header>
        <ion-card-title>{{ forecast.region }}</ion-card-title>
        <ion-card-subtitle>{{ forecast.date | date:'EEE dd/MM/yyyy' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{ forecastTypes[forecast.type] }}</ion-label>
        <ion-label *ngIf="forecast.rainfall"> {{ forecast.rainfall }} mm</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
